.checkout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1.25rem;
}

.checkout-top {
  display: flex;
  grid-column: 1 / 2;
  grid-row: span 1;
}
.checkout-ad {
  width: 100%;
  object-fit: contain;
}

.checkout-left {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background: white;
  padding: 1rem;
  border-radius: 0.3125rem;
}
.checkout-title {
  font-weight: 500;
  margin-top: 0.3rem;
}
.checkout-price {
  text-align: right;
  /* margin-top: 1rem; */
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: grey;
}
.checkout-hr {
  margin-bottom: 1rem;
  border: 0.5px solid lightgrey;
}

.checkout-subtotal {
  margin: 0.5rem 0 1rem 0;
  text-align: right;
}
.checkout-subtotal-title {
  font-size: 1.1rem;
}

.checkout-right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: white;
  padding: 1rem;
  border-radius: 0.3125rem;
}