.home {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  max-width: 90rem;
}
.home-image {
  width: 100%;
  z-index: -1;
  margin-bottom: -6.25rem;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}